@model EntityLayer.Concrete.Job
@{
    ViewData["Title"] = "UpdateJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<form method="post">
    @Html.Label("Job Id")
    @Html.TextBoxFor(x => x.JobID, new { @class = "form-control" })
    <br />
    @Html.Label("Job Name")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Update Job</button>
</form>

